* {
  box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0 auto;
}

.MuiAppBar-root {
  background-color: black !important;
  margin: 0 !important;
  padding: 0 !important;
}

.customButton {
  background-color: #E84142;
  color: white;
  border: 1px solid #C01818;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  align-self: center;
}

.customButton:hover {
  background-color: #C01818;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}

.custom-table-container {
  background-color: transparent !important;
  color: black !important;
}

legend {
  text-align: left;
  margin: 0;
}

.sectionTitle {
  text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4) !important;
  background-color: transparent !important;
  font-family: "Agency FB V2", Arial !important;
  font-weight: bold !important;
  margin-bottom: 20px !important;
}